body
{
	background-color: #FFD700;
	margin:auto;
	
}
h1
{
	font-family: Verdana, sans-serif;
	color:white;
	border:thick groove DodgerBlue;
	text-align:center;
	background-color:Tomato;
	background-origin:padding-box;
	margin:auto;
}
#bar
{	
	font-size:small;
	font-family: Verdana, sans-serif;
	background:url(https://us.123rf.com/450wm/coffmancmu/coffmancmu1507/coffmancmu150700010/42052497-imaeg-of-blurred-bokeh-background-with-warm-orange-lights-blurred-.jpg?ver=6) center;
	height:250px;
	position:centered;
	padding-top: 0%;
	padding-right: 5%;
	padding-bottom: 0%;
	padding-left: 10%;
	color:white;
}
.js-name
{
	font-weight:900;
	color:blue;
	position:center;
	margin:0 5%;
	text-align:center;
	position:relative;
}
.js-price-by-hour
{
	margin:5% 5% 5% 5%;
	text-align:center;
	position:relative;
}
.js-price-by-person
{
	margin:8% 3%;
	text-align:center;
	position:relative;
}
#booker
{
	font-family: Verdana, sans-serif;
	background:url(http://admin.traxmag.com//uploads/images/croped250x450/2016/09/Lyon__57d7d813e8a86.jpg) center;
	height:250px;
	position:centered;
	padding-top: 0%;
	padding-right:2%
	padding-bottom: 0%;
	padding-left:2%;
	color:white;
	font-size: small;
}

.js-time
{
	margin:5% 5% 5% 0.3% ;
	text-align:center;
	position:relative;
}
.js-persons
{
	margin:7% 0.3%;
	text-align:center;
	position:relative;
}

.js-options
{
	vertical-align:center;
	position:relative;
	color:white;
	margin:5% 2%;
}
#compute
{
	text-align:center;
	border-radius:30%;
	margin:auto;
	display:block;
}
#actors
{
	font-family: Verdana, sans-serif;
	background-image: linear-gradient(#00ff00,#66ff66);
	color:white;
	text-align:center;
	font-weight:900;
}
mark
{
	font-weight:850;
}